{
    "logging": {
        "log_level": 20,
        "gotify": {
            "app_token": "",
            "server_url": ""
        }
    },
    "auth_info": {
        "password": "",
        "username": ""
    },
    "seen_listings_filename": "seen_listings.json",
    "saved_queries": {
        "tuscon_pick_up_only": {
            "isSize": false,
            "isWeddingCatagory": "false",
            "isMultipleCategoryIds": false,
            "isFromHeaderMenuTab": false,
            "layout": "",
            "searchText": "",
            "selectedGroup": "",
            "selectedCategoryIds": "",
            "selectedSellerIds": "148",
            "lowPrice": "0",
            "highPrice": "999999",
            "searchBuyNowOnly": "",
            "searchPickupOnly": "true",
            "searchNoPickupOnly": "false",
            "searchOneCentShippingOnly": "false",
            "searchDescriptions": "false",
            "searchClosedAuctions": "false",
            "closedAuctionEndingDate": "2/13/2022",
            "closedAuctionDaysBack": "7",
            "searchCanadaShipping": "false",
            "searchInternationalShippingOnly": "false",
            "sortColumn": "1",
            "sortDescending": "false",
            "savedSearchId": 0,
            "useBuyerPrefs": "true",
            "searchUSOnlyShipping": "false",
            "categoryLevelNo": "1",
            "categoryLevel": 1,
            "categoryId": 0,
            "partNumber": "",
            "catIds": ""
        }
    }
}
